doctype html
html(lang='en')
    block header
        head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            if title
                title Image Compression | #{title}
            else
                title Image Compression
            link(rel='stylesheet' href='/vendor/css/plugin.css')
            link(rel='stylesheet' href='/css/style.css')
            body
                .container-fluid(id=pageId class=`${pageClass === undefined ? '' : pageClass}`)
                    header
                        p Compression
                    form#uploadForm
                        .box_wrapper
                            .box
                                .box--left
                                    i.fas.fa-plus
                                .box--right
                                    p Add or drop your files
                                    p jpg, png, gif, pdf, mov, mp3
                                label(for="file")
                                input(type="file" name="file" id="file" accept=".gif, .jpg, .jpeg, .png, .mp3, .mp4, .avi, .mov, .pdf" multiple)
                            .cube_wrapper
                                .close_arrow
                                    i.fas.fa-times
                                .image_wrapper
                                    img(src="/img/jpg.png")
                                p.uploading Uploading...
                                p.fileName food.pdf
                                .cube_box
                                    .cu-bar.bar-principal
                                        .face.side-0
                                            .growing-bar
                                        .face.side-1
                                            .growing-bar
                                        .face.top
                                        .face.floor
                                .cube_box--animate
                                    .cube_animate
                                        div.animate_cube
                                            div.animate_cube--1
                                            div.animate_cube--2
                                            div.animate_cube--3
                                p.fileSize
                                    span.uploadSize 4.13 MB /
                                    span.totalSize  4.48 MB
                                    span.almostDone
                    .body_wrapper
                        .bg_art
                        h1 Drop your file!
                script(src='/vendor/js/plugin.js')
                script(src='/js/bundle.js')
