*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: var(--secondary) var(--primary);
  scrollbar-width: thin;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

::-moz-selection {
  background-color: var(--primary);
  color: var(--white);
}

::selection {
  background-color: var(--primary);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

:root {
  --primary: var(--black);
  --secondary: #a7a7a7;
  --white: #fff;
  --black: #000;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .close_arrow, .container-fluid form .box_wrapper.file_compress--finished .download_wrapper .top_wrapper .close_arrow {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transform: translate(0.75rem, -0.75rem);
  cursor: pointer;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .close_arrow i, .container-fluid form .box_wrapper.file_compress--finished .download_wrapper .top_wrapper .close_arrow i {
  pointer-events: none;
}

.container-fluid form .box_wrapper.file_compress--started .cube_box--animate .cube_animate {
  width: 6rem;
  height: 6rem;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(135deg) translate(-50%, -50%);
}

.container-fluid form .box_wrapper.file_compress--started .cube_box--animate .cube_animate .animate_cube {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: melt 3s ease-in .5s infinite both;
  animation: melt 3s ease-in .5s infinite both;
  transform-style: preserve-3d;
}

.container-fluid form .box_wrapper.file_compress--started .cube_box--animate .cube_animate .animate_cube > * {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6rem;
  height: 6rem;
  background: rgba(221, 221, 221, 0.2);
  background: linear-gradient(rgba(237, 237, 237, 0.2), rgba(153, 153, 153, 0.1));
}

.container-fluid form .box_wrapper.file_compress--started .cube_box--animate .cube_animate .animate_cube--1 {
  transform: rotateX(90deg) translate3d(0, 49px, 46px);
  background: #857dff;
}

.container-fluid form .box_wrapper.file_compress--started .cube_box--animate .cube_animate .animate_cube--2 {
  transform: rotateX(180deg) translateZ(0);
  background: #524acc;
}

.container-fluid form .box_wrapper.file_compress--started .cube_box--animate .cube_animate .animate_cube--3 {
  transform: rotateY(-90deg) translate3d(47px, 0, 49px);
  background: #675dff;
}

@-webkit-keyframes melt {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  25% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(0.5) scaleX(0.5);
  }
  75% {
    transform: scaleY(0.5) scaleX(0.5) scaleZ(0.5);
  }
  to {
    transform: scaleY(1) scaleX(1) scaleZ(1);
  }
}

@keyframes melt {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  25% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(0.5) scaleX(0.5);
  }
  75% {
    transform: scaleY(0.5) scaleX(0.5) scaleZ(0.5);
  }
  to {
    transform: scaleY(1) scaleX(1) scaleZ(1);
  }
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  height: 4em;
  justify-content: center;
  perspective-origin: 50% 50%;
  padding-left: 4rem;
  padding-bottom: 13rem;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar {
  padding: 1em;
  transition: transform 2s linear;
  transform: rotateX(-30deg) rotateY(-135deg);
  transform-style: preserve-3d;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar, .container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .face {
  position: relative;
  width: 2em;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .face {
  bottom: 0;
  height: 2em;
  background-position: 50%;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .side-0, .container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .side-1 {
  overflow: hidden;
  height: 2em;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .side-0 {
  transform: rotateY(90deg) translateZ(1em);
  background-color: rgba(82, 74, 204, 0.2);
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .side-0 .growing-bar {
  background-color: #524acc;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .side-1 {
  transform: rotateY(180deg) translateY(-2em) translateZ(1em);
  background-color: rgba(103, 93, 255, 0.2);
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .side-1 .growing-bar {
  background-color: #675dff;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .top {
  transform: rotateX(90deg) translateZ(5em);
  text-align: center;
  transition: background-color 1s;
  background-color: rgba(133, 125, 255, 0.2);
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .floor {
  transform: rotateX(-90deg) translateY(0) translateZ(-5em) rotate(180deg);
  text-align: center;
  transition-duration: .15s;
  background-color: #857dff;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box .cu-bar .growing-bar {
  display: inline-block;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 1;
}

.container-fluid {
  background-image: url("/img/bg.jpg");
  background-position: 46.5%;
  background-size: cover;
  height: 100vh;
  padding: 4rem;
}

@media (max-width: 575.98px) {
  .container-fluid {
    padding: 1.2rem;
  }
}

.container-fluid header p {
  position: absolute;
  color: var(--white);
  letter-spacing: 2px;
  font-size: 1.2rem;
}

@media (max-width: 575.98px) {
  .container-fluid header p {
    width: 100%;
    top: 4rem;
    left: 0;
    text-align: center;
    font-size: 1.5rem;
  }
}

.container-fluid form {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

@media (max-width: 575.98px) {
  .container-fluid form {
    justify-content: center;
  }
}

@media (max-width: 575.98px) {
  .container-fluid form .box_wrapper {
    width: 100%;
  }
}

.container-fluid form .box_wrapper .box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: 7px 8px 20px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575.98px) {
  .container-fluid form .box_wrapper .box {
    width: 85%;
    margin: 0 auto;
  }
}

.container-fluid form .box_wrapper .box--left {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  font-size: .75rem;
  margin-right: 1rem;
  border-radius: .5rem;
  color: var(--white);
}

.container-fluid form .box_wrapper .box--right p {
  margin: 0;
}

.container-fluid form .box_wrapper .box--right p:last-child {
  color: var(--secondary);
  font-size: .75rem;
  text-align: center;
}

.container-fluid form .box_wrapper .box input[type="file"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  cursor: pointer;
}

.container-fluid form .box_wrapper .box label {
  position: absolute;
}

.container-fluid form .box_wrapper .box .maximum {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: .75rem;
  padding-top: .25rem;
  color: var(--white);
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper {
  position: relative;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: 7px 8px 20px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575.98px) {
  .container-fluid form .box_wrapper.file_upload--started .cube_wrapper {
    margin: 0 auto;
    width: 85%;
  }
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper p {
  margin: 0;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .image_wrapper {
  text-align: center;
  margin-bottom: 1rem;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .image_wrapper img {
  width: 2rem;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .uploading {
  color: var(--black);
  font-weight: 500;
  text-align: center;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .fileName {
  color: var(--secondary);
  font-size: .75rem;
  text-align: center;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .cube_box {
  margin: 0 4rem;
}

.container-fluid form .box_wrapper.file_upload--started .cube_wrapper .fileSize {
  color: var(--secondary);
  font-size: .75rem;
  font-weight: 500;
  text-align: center;
}

.container-fluid form .box_wrapper.file_compress--started .cube_box--animate {
  display: flex;
  justify-content: center;
  margin-right: 4.5rem;
  padding: 3.75rem;
  margin-bottom: 11px;
  transform: translateY(0.9rem);
}

@media (max-width: 575.98px) {
  .container-fluid form .box_wrapper.file_compress--started .cube_box--animate {
    padding: 3.75rem 0;
  }
}

.container-fluid form .box_wrapper.file_compress--started .fileSize span:nth-child(1), .container-fluid form .box_wrapper.file_compress--started .fileSize span:nth-child(2) {
  display: none;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper {
  position: relative;
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: 7px 8px 20px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575.98px) {
  .container-fluid form .box_wrapper.file_compress--finished .download_wrapper {
    width: 85%;
    margin: 0 auto;
  }
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .top_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .top_wrapper .close_arrow {
  transform: none;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .top_wrapper .image_wrapper {
  text-align: center;
  margin-bottom: 1rem;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .top_wrapper .image_wrapper img {
  width: 2rem;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .middle_wrapper {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .middle_wrapper:first-child {
  border-top: 1px solid #ccc;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .middle_wrapper--left .download_fileName {
  font-weight: 600;
  margin: 0;
  width: 85%;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .middle_wrapper--left .download_fileSize {
  display: flex;
  align-items: center;
  color: var(--secondary);
  font-size: .8rem;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .middle_wrapper--left .download_fileSize p {
  margin: 0;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .middle_wrapper--left .download_fileSize i {
  color: var(--primary);
  margin: 0 .5rem;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .middle_wrapper--right {
  margin-left: auto;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .middle_wrapper--right a {
  color: var(--primary);
  font-size: 1.5rem;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .bottom_wrapper {
  margin: 1rem 1.5rem;
  padding-bottom: 1.5rem;
}

.container-fluid form .box_wrapper.file_compress--finished .download_wrapper .bottom_wrapper a {
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  padding: .75rem 6rem;
}

@media (max-width: 575.98px) {
  .container-fluid form .box_wrapper.file_compress--finished .download_wrapper .bottom_wrapper a {
    padding: .75rem 0;
  }
}

.container-fluid.drag_fired .body_wrapper .bg_art {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-filter: opacity(0.75);
  filter: opacity(0.75);
  background-color: var(--primary);
}

.container-fluid.drag_fired .body_wrapper h1 {
  z-index: 1;
  color: var(--white);
  position: absolute;
  top: 35%;
}

.container-fluid .copyright {
  color: var(--white);
  width: 100%;
  text-align: right;
  margin: 0;
}

.container-fluid .copyright i {
  color: var(--danger);
  margin: 0 .5rem;
}

@media (max-width: 575.98px) {
  .container-fluid .copyright {
    text-align: center;
    transform: translateY(-2rem);
  }
}

.container-fluid:not(.drag_fired) .body_wrapper {
  display: none;
}

.container-fluid .box_wrapper .cube_wrapper {
  display: none;
}

.container-fluid .box_wrapper .download_wrapper {
  display: none;
}

.container-fluid .box_wrapper.file_upload--started .box {
  display: none;
}

.container-fluid .box_wrapper.file_upload--started .cube_wrapper {
  display: block;
}

.container-fluid .box_wrapper.file_upload--started .cube_box--animate {
  display: none;
}

.container-fluid .box_wrapper.file_upload--started .download_wrapper {
  display: none;
}

.container-fluid .box_wrapper.file_compress--started .box {
  display: none;
}

.container-fluid .box_wrapper.file_compress--started .cube_box {
  display: none !important;
}

.container-fluid .box_wrapper.file_compress--started .cube_box--animate {
  display: block;
}

.container-fluid .box_wrapper.file_compress--started .download_wrapper {
  display: none;
}

.container-fluid .box_wrapper.file_compress--finished .box {
  display: none;
}

.container-fluid .box_wrapper.file_compress--finished .cube_wrapper {
  display: none;
}

.container-fluid .box_wrapper.file_compress--finished .download_wrapper {
  display: block;
}

/*# sourceMappingURL=style.css.map */
