%close-arrow {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transform: translate(.75rem, -0.75rem);
    cursor: pointer;

    i {
        pointer-events: none;
    }
}
