*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;

    // SCROLLBAR FOR FIREFOX
    scrollbar-color: var(--secondary) var(--primary);
    scrollbar-width: thin;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

::selection {
    background-color: var(--primary);
    color: var(--white);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--primary);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);

    &:hover {
        background: var(--primary);
    }
}
