.container-fluid {
    background-image: url('/img/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 4rem;

    @include media-breakpoint-down(xs) {
        padding: 1.2rem;
    }

    header p {
        position: absolute;
        color: var(--white);
        letter-spacing: 2px;
        font-size: 1.2rem;
    }

    form {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;

        @include media-breakpoint-down(xs) {
            justify-content: center;
        }

        .box_wrapper {
            @include media-breakpoint-down(xs) {
                width: 100%;
            }

            .box {
                position: relative;
                display: flex;
                align-items: center;
                padding: 1.5rem;
                background-color: var(--white);
                border-radius: .5rem;
                box-shadow: 7px 8px 20px 2px rgba(0, 0, 0, .1);

                @include media-breakpoint-down(xs) {
                    width: 85%;
                    margin: 0 auto;
                }

                &--left {
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--primary);
                    font-size: .75rem;
                    margin-right: 1rem;
                    border-radius: .5rem;
                    color: var(--white);
                }

                &--right {
                    p {
                        margin: 0;
                    }

                    p:last-child {
                        color: var(--secondary);
                        font-size: .75rem;
                        text-align: center;
                    }
                }

                input[type="file"] {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    cursor: pointer;
                }

                label {
                    position: absolute;
                }

                .maximum {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    text-align: center;
                    width: 100%;
                    margin: 0;
                    font-size: .75rem;
                    padding-top: .25rem;
                    color: var(--white);
                }
            }

            &.file_upload--started {
                .cube_wrapper {
                    position: relative;
                    padding: 1.5rem;
                    background-color: var(--white);
                    border-radius: .5rem;
                    box-shadow: 7px 8px 20px 2px rgba(0, 0, 0, 0.1);

                    @include media-breakpoint-down(xs) {
                        margin: 0 auto;
                        width: 85%;
                    }

                    p {
                        margin: 0;
                    }

                    .close_arrow {
                        @extend %close-arrow;
                    }

                    .image_wrapper {
                        text-align: center;
                        margin-bottom: 1rem;

                        img {
                            width: 2rem;
                        }
                    }

                    .uploading {
                        color: var(--black);
                        font-weight: 500;
                        text-align: center;
                    }

                    .fileName {
                        color: var(--secondary);
                        font-size: .75rem;
                        text-align: center;
                    }

                    .cube_box {
                        margin: 0 4rem;
                        @extend %cube-fill-box;
                    }

                    .fileSize {
                        color: var(--secondary);
                        font-size: .75rem;
                        font-weight: 500;
                        text-align: center;
                    }
                }
            }

            &.file_compress--started {
                .cube_box--animate {
                    display: flex;
                    justify-content: center;
                    margin-right: 4.5rem;
                    padding: 3.75rem;
                    margin-bottom: 11px;
                    transform: translateY(0.9rem);

                    @include media-breakpoint-down(xs) {
                        padding: 3.75rem 0;
                    }

                    .cube_animate {
                        @extend %cube-animate;
                    }
                }

                .fileSize {
                    span:nth-child(1), span:nth-child(2) {
                        display: none;
                    }
                }
            }

            &.file_compress--finished {
                .download_wrapper {
                    position: relative;
                    background-color: var(--white);
                    border-radius: .5rem;
                    box-shadow: 7px 8px 20px 2px rgba(0, 0, 0, 0.1);

                    @include media-breakpoint-down(xs) {
                        width: 85%;
                        margin: 0 auto;
                    }

                    .top_wrapper {
                        display: flex;
                        justify-content: space-between;
                        padding: 1.5rem 1.5rem 0 1.5rem;

                        .close_arrow {
                            @extend %close-arrow;
                            transform: none;
                        }

                        .image_wrapper {
                            text-align: center;
                            margin-bottom: 1rem;

                            img {
                                width: 2rem;
                            }
                        }
                    }

                    .middle_wrapper {
                        padding: 1rem 1.5rem;
                        border-bottom: 1px solid #ccc;
                        display: flex;
                        align-items: center;

                        &:first-child {
                            border-top: 1px solid #ccc;
                        }

                        &--left {
                            .download_fileName {
                                font-weight: 600;
                                margin: 0;
                                width: 85%;
                            }

                            .download_fileSize {
                                display: flex;
                                align-items: center;
                                color: var(--secondary);
                                font-size: .8rem;

                                p {
                                    margin: 0;
                                }

                                i {
                                    color: var(--primary);
                                    margin: 0 .5rem;
                                }
                            }
                        }

                        &--right {
                            margin-left: auto;

                            a {
                                color: var(--primary);
                                font-size: 1.5rem;
                            }
                        }
                    }

                    .bottom_wrapper {
                        margin: 1rem 1.5rem;
                        padding-bottom: 1.5rem;

                        button {
                            background-color: var(--primary);
                            color: var(--white);
                            width: 100%;
                            padding: .75rem 6rem;

                            @include media-breakpoint-down(xs) {
                                padding: .75rem 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &.drag_fired {
        .body_wrapper {
            .bg_art {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                filter: opacity(0.75);
                background-color: var(--primary);
            }

            h1 {
                z-index: 1;
                color: var(--white);
                position: absolute;
                top: 35%;
            }
        }
    }
}

// HIDDEN & BLOCK
.container-fluid {
    &:not(.drag_fired) {
        .body_wrapper {
            display: none;
        }
    }

    .box_wrapper {
        .cube_wrapper {
            display: none;
        }

        .download_wrapper {
            display: none;
        }

        &.file_upload--started {
            .box {
                display: none;
            }

            .cube_wrapper {
                display: block;
            }

            .cube_box--animate {
                display: none;
            }

            .download_wrapper {
                display: none;
            }
        }

        &.file_compress--started {
            .box {
                display: none;
            }

            .cube_box {
                display: none !important;
            }

            .cube_box--animate {
                display: block;
            }

            .download_wrapper {
                display: none;
            }
        }

        &.file_compress--finished {
            .box {
                display: none;
            }

            .cube_wrapper {
                display: none;
            }

            .download_wrapper {
                display: block;
            }
        }
    }
}
