.container-fluid {
    background-image: url('/img/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 4rem;

    @include media-breakpoint-down(xs) {
        padding: 1.2rem;
    }

    header p {
        position: absolute;
        color: var(--white);
        letter-spacing: 2px;
        font-size: 1.2rem;
    }

    form {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;

        .box_wrapper {
            .box {
                position: relative;
                display: flex;
                align-items: center;
                padding: 1.5rem;
                background-color: var(--white);
                border-radius: .5rem;
                box-shadow: 7px 8px 20px 2px rgba(0, 0, 0, .1);

                @include media-breakpoint-down(xs) {
                    width: 100%;
                }

                &--left {
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--primary);
                    font-size: .75rem;
                    margin-right: 1rem;
                    border-radius: .5rem;
                    color: var(--white);
                }

                &--right {
                    p {
                        margin: 0;
                    }

                    p:last-child {
                        color: var(--secondary);
                        font-size: .75rem;
                    }
                }

                input[type="file"] {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    cursor: pointer;
                }

                label {
                    position: absolute;
                }
            }

            //& {
            &.file_upload--started {
                .cube_wrapper {
                    position: relative;
                    padding: 1.5rem;
                    background-color: var(--white);
                    border-radius: .5rem;
                    box-shadow: 7px 8px 20px 2px rgba(0, 0, 0, 0.1);

                    @include media-breakpoint-down(xs) {
                        margin: 0 auto;
                        width: 100%;
                    }

                    p {
                        margin: 0;
                    }

                    .close_arrow {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        background-color: #ddd;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: auto;
                        transform: translate(.75rem, -0.75rem);
                        cursor: pointer;

                        i {
                            pointer-events: none;
                        }
                    }

                    .image_wrapper {
                        text-align: center;
                        margin-bottom: 1rem;

                        img {
                            width: 2rem;
                        }
                    }

                    .uploading {
                        color: var(--black);
                        font-weight: 500;
                        text-align: center;
                    }

                    .fileName {
                        color: var(--secondary);
                        font-size: .75rem;
                        text-align: center;
                    }

                    .cube_box {
                        margin: 0 4rem;
                        @extend %cube-fill-box;
                    }

                    .fileSize {
                        color: var(--secondary);
                        font-size: .75rem;
                        font-weight: 500;
                        text-align: center;
                    }
                }
            }
        }
    }

    &.drag_fired {
        .body_wrapper {
            .bg_art {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                filter: opacity(0.75);
                background-color: var(--primary);
            }

            h1 {
                z-index: 1;
                color: var(--white);
                position: absolute;
                top: 35%;
            }
        }
    }
}

// HIDDEN & BLOCK
.container-fluid {
    &:not(.drag_fired) {
        .body_wrapper {
            display: none;
        }
    }

    .box_wrapper {
       .cube_wrapper {
           display: none;
       }

        &.file_upload--started {
            .box {
                display: none;
            }

            .cube_wrapper {
                display: block;
            }
        }
    }
}
